
   
body{

    background-image: url(Imagens/background01\ 1300x740.png);
    background-size:1348px;
    background-repeat: no-repeat;
    width: 1348px;
    height: 2000px;
    

}
header{

height: 200px;
background-color: rgb(0, 0, 0);
margin: auto;
width:1338px;
}

img{
    margin: auto;
    display: block;
}

    
  
  
