@charset "utf-8";
@font-face {
    font-family: 'idroid.otf';
    src: url(fontes/idroid.otf);
}

*{
    margin: 0px;
    padding: 0px;
}


   


.barradecima{
    background-color:black;
    width: 100%;
    height: 200px;
   
}
#logomarca{
    width: 200px;
    height: 150px;
    padding-top: 20px;
    padding-left: 60px;
}
.menu{
    position:relative;
    text-align: center;
    bottom: 40px
}
.menu li{
    display:inline-block;
    
}

.menu li a{
    color: white;
    text-decoration: none;
    font-family:"idroid.otf";
    font-size: 1.2em;
    border: 2px solid white;
    border-radius: 5px;
    padding: 2px 4px;

      
}
li a:hover{
    color: blue;
}


#back:hover{
    color: yellow;
    

}
/*  botão meu portifolio e contatos*/
.contato{
color:blue;
    
font-family:'idroid.otf';
text-align: center;
font-size: 1.5em;
background-color: none;
display:block;
margin: auto;
margin-top: 20px;


}  
.portifolio{
    color:blue;
    
font-family:'idroid.otf';
text-align: center;
font-size: 1.5em;
background-color: none;
display:block;
margin: auto;
margin-top: 20px;

}

h1{
    color:blue;
    
    font-family:'idroid.otf';
    text-align: center;
    font-size: 1.5em;
    background-color: none;
    border-radius: 5px;
    display:inline-block;
    
}
p{
   color:white;
   text-align: center;
   font-size: 1em;
  
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
/*  botão meu portifolio*/

body{
    background-image: url(Imagens/background01\ 1300x740.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment:fixed;
}
#banner{
    display:block;
    margin: auto;
    
}
.pagina{
    width: 800px;
    height: 400px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    box-shadow:1px 2px 10px black;
    margin-bottom: 200px;

}
.robo01{
    width: 300px;
    height: 400px;
    display:inline-block;
    margin-left: 705px;
}
.paginab{
    margin-top: 200px;
    width: 800px;
    height: 400px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    box-shadow:1px 2px 10px black;
}
div img.robo02{
    width: 300px;
    height: 400px;
    margin-left:-205px;
    transform: scaleX(-1);
    display:inline-block;
 
}
    


main{
    height: 1100px;
}
.boxportifolio{
    position: relative;
    width: 700px;
    height: 450px;
    background-color: white;
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 5px;
}
#textoport{
    position:absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    color:darkblue;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    

}
footer #rodapé{
    background-color: black;
    height: 20px;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 3px;
}

@media (max-width: 600px){
    .barradecima{
        position: relative;
        width: 100%;
       
    }
    .menu {
        display: block;
        float:none;
       
    }
    .menu li{
        margin: auto;
        display: block;
        float: none;
        border: none;
    }
    .menu li a{
        text-align: center;
        border:none;
        position: relative;
        display: block;
        margin: auto;
        bottom: 80px;
       
    }
    #logomarca{
        position: relative;
        display: block;
        padding: 0;
     margin:auto;
        width: 30%;
        height: 40%;
    }
    #banner{
        display:none;
       

    }
    .pagina{
        width: 350px;
        height: 200px;
        background-color: white;
        margin: auto;
        border-radius: 10px;
        box-shadow:1px 2px 10px black;
        margin-bottom: 100px;
    
    }
    .robo01{
        width: 150px;
        height: 200px;
        display:block;
        margin-left: 300px;
        
       
    }
    div img.robo02{
        width: 150px;
        height: 200px;
        margin-left: -100px;
        transform: scaleX(-1);
        display:inline;
    }
    .paginab{
        width: 350px;
        height: 200px;
        background-color: white;
        margin: auto;
        border-radius: 10px;
        box-shadow:1px 2px 10px black;
        margin-bottom: 100px;
}
footer #rodapé{
    background-color: black;
    height: 20px;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 3px;
}
}